.nav-link{
  text-decoration: none;
} 
.input-search{
  padding: 6px;
  border-radius: 10px;
}

.login-container {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  text-align: center;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.login-container h2 {
  margin-bottom: 20px;
}

.login-container input {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

.login-container button {
  background-color: #007bff;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

.login-container button:hover {
  background-color: #0056b3;
}



/* css for product details  */ 

.product-detail {
  display: flex;
  align-items: center;
  border: 1px solid rgb(208, 205, 205);
  padding: 20px;
  border-radius: 15px;
}

.product-image {
  max-width: 200px;
  margin-right: 20px;
}

.product-info {
  flex-grow: 1;
}

.product-info h2 {
  font-size: 24px;
  margin-bottom: 10px;
}

.product-info p {
  font-size: 16px;
  margin-bottom: 10px;
}

.product-details {
  display: flex;
  flex-wrap: wrap;
}

.product-details p {
  flex: 0 0 50%;
  font-size: 16px;
}

